// Colors
// Background
$body-bg-color: #f6f6f6 !default;
$card-bg: #ffffff !default;
// Font Colors
$page-title-color: #363446 !default;
$card-disclaimer-color: #adadad !default;
$card-title-color: #3a3a3a !default;
$card-link-color: #2da936 !default;
// Borders
$card-border-color: #e4e2e2 !default;

// Measures
$card-width: 306px;
$card-gap: 26px;
